.button{
    width:100px;
    height:50px;
    background:gold;
    /* border-radius:30px; */
    border-radius:130px;
    box-shadow: 3px 3px;
}
.button:hover{
    width:100px;
    height:50px;
    background:blue;
    /* border-radius:30px; */
    border-radius:130px;
  }
  
@keyframes anime1 {
    0% {
        font-size:10px;
    }
    100% {
        font-size:20px;
    }
}

.fade-in {
    animation-name: anime1;
}

.text{
    text-shadow: 5px 5px 2px gold;
}