.button{
    width:100px;
    height:50px;
    background:gold;
    /* border-radius:30px; */
    border-radius:130px;
    box-shadow: 3px 3px;
}
.button:hover{
    width:100px;
    height:50px;
    background:blue;
    /* border-radius:30px; */
    border-radius:130px;
  }
  
@keyframes anime1 {
    0% {
        font-size:10px;
    }
    100% {
        font-size:20px;
    }
}

.fade-in {
    animation-name: anime1;
}

.text{
    text-shadow: 5px 5px 2px gold;
}

/* dropdown */
.gnav {
    display: flex;
    height: 2rem;
    margin: 0 auto;
    width: 1000px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
    width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li {
    list-style: none;
    position: relative;
}
.gnav li a {
    background: #001b34;
    border-right: 1px solid #eee;
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/*子階層以降共通*/
.gnav li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.gnav li li a {
    border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
    height: 2rem;
    overflow: visible;
    /* background-color: aqua; */
}

/*aの背景色を指定*/   
.gnav li:hover a {/*親階層*/
    background: #00305c;
}
.gnav li li a {/*子階層*/
    background: #00305c;
}
.gnav li li:hover a {
    background: #004789;
}

.div-content {
    border: solid 1px black;
    margin: 10px;
    padding:10px;
}